body{background-color: gray; }
#formulario{	
        position: absolute;
	background-color: #f1f9f7;
	width:500px; 
 	height:260px;
 	margin-top: 3%;
 	margin-left: 1%;
}
#botoes_alinhados{

	position:relative;
	text-align: center;
  
}
#botoes{
        background-color:#696464;
	position:absolute;
	left: 39%;
	top: 9%;
	padding: 5px;
        width: 300px;
}
input[type="button"]{
	background-color: #1e1c1c;
	color: #fff;
	padding: 10px;
	}
#numvoto{
	position: absolute;
        left: 30%;
        top: 40%;
        text-align: center;
	padding: 5px;
}
#branco,#corrigir,#confirmar{
	background-color: white;
	margin: 10px;
}
#branco{
	background-color: #fff;
        color: black;
}
#corrigir{
	background-color: #ff0101;
}
#confirmar{
	background-color: #61e30e;
        padding: 10px;
}
#rodape{
	position:fixed;
	top: 90%;
	width: 50%;
}
